//-!
  @author Mohamed Muntasir
  @link https://github.com/devmotheg

style.
  * {
    padding: 0;
    margin: 0;
    font-size: inherit;
    font-family: inherit;
    box-sizing: border-box;
    word-break: break-all;
  }

  body {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 14px;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }

  table {
    border-collapse: separate;
    width: 100%;
  }

  table td {
    vertical-align: top;
  }

  .body {
    background-color: rgb(245 245 245);
    width: 100%;
  }

  .container {
    display: block;
    margin: 0 auto !important;
    max-width: 580px;
    padding: 10px;
    width: 580px;
  }

  .content {
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    max-width: 580px;
    padding: calc(10rem / 16);
  }

  .main {
    background: rgb(255 255 255);
    border-radius: calc(3rem / 16);
    width: 100%;
  }

  .wrapper {
    padding: calc(20rem / 16);
  }

  .content-block {
    padding-bottom: calc(10rem / 16);
    padding-top: calc(10rem / 16);
  }

  .footer {
    clear: both;
    margin-top: calc(10rem / 16);
    text-align: center;
    width: 100%;
  }

  .footer td,
  .footer p,
  .footer span,
  .footer a {
    font-size: 12px;
    text-align: center;
  }

  .footer td,
  .footer p,
  .footer span {
    color: rgb(82 82 82);
  }

  h1,
  h2,
  h3,
  h4 {
    color: rgb(82 82 82);
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: calc(35rem / 16);
  }

  h1 {
    font-size: 35px;
    font-weight: 700;
    text-align: center;
  }

  p {
    font-size: 14px;
    font-weight: normal;
    margin-bottom: calc(15rem / 16);
    margin-left: calc(5rem / 16);
  }

  a {
    color: rgb(8, 242, 204);
    text-decoration: underline;
    font-weight: 700;
  }

  .btn {
    width: 100%;
  }

  .btn > tbody > tr > td {
    padding-bottom: calc(15rem / 16);
  }

  .btn table {
    width: auto;
  }

  .btn table td {
    border-radius: calc(5rem / 16);
    text-align: center;
  }

  .btn a {
    border: solid 0.1rem rgb(8, 242, 204);
    border-radius: calc(5rem / 16);
    color: rgb(8, 242, 204);
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    padding: calc(12rem / 16) calc(25rem / 16);
    text-decoration: none;
  }

  .align-center {
    text-align: center;
  }

  .align-right {
    text-align: right;
  }

  .align-left {
    text-align: left;
  }

  .clear {
    clear: both;
  }

  @media only screen and (max-width: 620px) {
    table[class="body"] h1 {
      font-size: 28px !important;
      margin-bottom: calc(10rem / 16) !important;
    }

    table[class="body"] p,
    table[class="body"] ul,
    table[class="body"] ol,
    table[class="body"] td,
    table[class="body"] span,
    table[class="body"] a {
      font-size: 16px !important;
    }

    table[class="body"] .wrapper {
      padding: calc(10rem / 16) !important;
    }

    table[class="body"] .content {
      padding: 0 !important;
    }

    table[class="body"] .container {
      padding: 0 !important;
      width: 100% !important;
    }

    table[class="body"] .main {
      border-left-width: 0 !important;
      border-radius: 0 !important;
      border-right-width: 0 !important;
    }

    table[class="body"] .btn table {
      width: 100% !important;
    }

    table[class="body"] .btn a {
      width: 100% !important;
    }
  }

  @media all {
    .btn--primary a:hover {
      color: rgb(2, 160, 173) !important;
      border-color: rgb(2, 160, 173) !important;
    }

    .footer a:hover {
      color: rgb(2, 160, 173) !important;
    }
  }
