//-!
  @author Mohamed Muntasir
  @link https://github.com/devmotheg

extends base

block content
  h1 Account Password Reset
  p=`Hi, ${toName}`
  p You're receiving this email because we received a password reset request from your account.
  p Please visit the following link to continue the procedure (token is valid for 10 min):
    br
    | #{url}.
  table.btn.btn--primary(role="presentation", border="0", cellpadding="0", cellspacing="0")
    tbody
      tr
        td(align="left")
          table(role="presentation", border="0", cellpadding="0", cellspacing="0")
            tbody
              tr
                td
                  a(href=`${url}`, target="_blank") RESET PASSWORD
  p If you didn't request a password reset, no further action is required.
  p
    | Regards,
    br
    | Tourist