//-!
  @author Mohamed Muntasir
  @link https://github.com/devmotheg

extends ../index

block content
  div(class="wrapper")
    div(class="min-h-full mx-auto font-bold text-center w-fit")
      h1(class="text-4xl text-orange-400") An error has occurred!
      p(class="mt-6 text-2xl text-neutral-600")=msg