//-!
  @author Mohamed Muntasir
  @link https://github.com/devmotheg

extends ../index

include ../helpers/_mixins

block content
  div(class="wrapper")
    form(class="max-w-[44rem] mx-auto p-10 rounded-lg shadow-lg bg-white" novalidate spellcheck="false")
      strong(class="mb-6 text-2xl special-heading") reset your password
      div(class="mb-6")
        +form-label("new-password", "new password")
        +form-input("new-password", "password", "••••••••", "newPassword")
      div(class="mb-8")
        +form-label("new-password-confirm", "confirm new password")
        +form-input("new-password-confirm", "password", "••••••••", "newPasswordConfirm")
      div
        button(class="py-2 px-8 mx-auto uppercase border-[0.15rem] border-solid rounded-full w-fit btn border-neutral-500") reset password