//-!
  @author Mohamed Muntasir
  @link https://github.com/devmotheg

footer(class="mt-12 wrapper h-fit")
  a(class="block ml-auto text-sm btn w-fit" href="https://github.com/devmotheg") Designed &amp; Coded by Mohamed Muntasir